{{!-- <link rel="stylesheet" href="../css/adm.css"> --}}
<h1>Administração</h1>

<nav>
    <a href="/listar_cliente">Lista de cliente</a>
    <a href="/listar_produto">Lista de produtos</a>
    <a href="/excluir_produto">Excluir produto</a>
    <a href="/atualizar_produto">Atualizar produto</a>
    <a href="/atualizar_clien">Atualizar cliente</a>
    <a href="/cadastrar_produto">Cadastrar produto</a>
</nav>