<h1>Adm</h1>

<nav>
    <a href="/listar_cliente">Lista de cliente</a>
    <a href="/listar_produto">Lista de produtos</a>
    <a href="/excluir_produto">Excluir produto</a>
    <a href="/atualizar_produto">Atualizar produto</a>
</nav>