<link rel="stylesheet" href="../css/cadas_prod.css">
<h1>Cadastrar produto</h1>
<div class="cadas">
<form action="/cadastrar_produto" method="post">
<label for="nome_produto">nome do produto</label>
<input type="text" name="nome_produto">
<br>
<label for="preco_unidade">preço da unidade</label>
<input type="text" name="preco_unidade">
<br>
<label for="qtd_estoque">quantidade no estoque</label>
<input type="text" name="qtd_estoque">
<br>
<button type="submit">Feito</button>
</form>
</div>
{{#if msg}}
<p>{{msg}}</p>
{{/if}}