<h1>Cadastrar usuário</h1>
<form action="/cadastrar_usuario.handlebars" method="post">
<label for="nome_usuario">Nome do usuario</label>
<input type="text" name="nome_produto">
<br>
<label for="telefone">Seu telefone</label>
<input type="text" name="telefone">
<br>
<label for="email">Seu email</label>
<input type="text" name="email">
<br>
<label for="senha">Sua senha</label>
<input type="text" name="senha">
<br>
<button type="submit">Feito</button>
</form>
{{#if msg}}
<p>{{msg}}</p>
{{/if}}