<link rel="stylesheet" href="/css/index.css">
<body>
    <!-- header -->
    <header class="header">
        <!-- logo -->
        <a href="#" class="logo">
            <i class='bx bxs-coffee-bean'>MaryCoffe</i>
            <!-- <i class='bx bxs-coffee-bean'>Marycoffe</i> -->
        </a>
        <!-- links da página -->
        
        <nav class="navbar">
            <a href="/home">Home</a>
            <a href="/sobre">Sobre</a> 
            <a href="/produto">Produtos</a>
        </nav>
        <div class="icones">
            <a href="/entrar">
                <i>Entrar</i>
            </a>
            <a href="/cadastrar">
                <i class='bx bxs-user-circle'>Cadastrar</i></i>
            </a>
        </div>
    </header>

    <!-- home -->
    <section class="home" id="home">
        <div class="content">
            <h1>Seja bem vindo!</h1>
            <p>Faça seu dia mais feliz com café</p>
                <a href="/produto" class="btn">Pegue o seu agora</a>
        </div>
    </section>

</body>