<link rel="stylesheet" href="../css/listar.css">
<h1>Lista de clientes</h1>
<br>
<div class="tbl">
<table>
    <thead>
        <th>Código</th>
        <th>Nome do cliente</th>
        <th>telefone</th>
        <th>email</th>
    </thead>
        <tbody>
    {{#each valores}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.nome_usuario}}</td>
                <td>{{this.telefone}}</td>
                <td>{{this.email}}</td>
            </tr>
    {{/each}}
        </tbody>
</table>
</div>