* principais ----------------------------------------------------------------------------- */
:root{
    --main-color:#0f0e0d;
    --black:var(--black)
}

*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}
/* ======================================================== */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: rgb(17, 14, 14);
    border-radius: 5rem;
}
/* =================================================================== */
body{
    background: rgba(228, 177, 127, 0.671);

}
h1{
    font-size: 20px;
    text-align: center;
}

/* header principal */
nav{
    background: rgb(240, 215, 189);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

/* páginas */

nav a{
    margin: 0 1rem;
    font-size: 2.3rem;
    font-weight: bolder;
    color: rgb(12, 11, 10);
 } 
nav a:hover{
    color: rgb(184, 152, 110); 
    border-bottom: .1rem solid  rgb(163, 131, 88); 
    padding-bottom: .5rem;
} 
